/* bootstrap */
@import "cancheros/tablas/bootstrap/bootstrap";

/* compass */
@import "compass";

@import "utilities/settings";

@mixin gwf($fonts...) {
  $url: "https://fonts.googleapis.com/css?family=";
  $nb: 0;
  
  @each $font-name in $fonts {
    $nb: $nb + 1;
    $nb-word: 0;
    
    @each $word in $font-name {
      $nb-word: $nb-word + 1;
      $url: $url + $word;
      
      @if $nb-word < length($font-name) {
        $url: $url + "+"; 
      } 
    }
    
    @if $nb < length($fonts) {
       $url: $url + "|"; 
    }
  }
  
  @import url(#{$url});
}

$font-p: Roboto;

@include gwf($font-p);

body {
    overflow-x: hidden;
    font-family: $font-p;
}

.container {
	max-width: 480px;
	padding: 0px;

	// valores personalizables
	background-color: $color-fondo;
	color: $color-texto-body;
}

th, td {
	max-height: 20px;
}

.titulo {
	// valores personalizables
	color: $color-texto-titulo;
	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}
}

.header-tabla-cancheros {
	background-color: $color-header-tabla;
	color: $color-texto-header-tabla;
}

.botones {
	background-color: $color-botones;
	color: $color-texto-botones;
}