/* configuracion general */

/* colores */
$color-fondo: #FFFFFF;
$color-texto-body: #000000;

$color-texto-titulo: #000000;

$color-header-tabla: #eb0254;
$color-texto-header-tabla: #FFFFFF;

$color-botones: #eb0254;
$color-texto-botones: #FFFFFF;