/* custom vars */
@import "utilities/settings";

/* bootstrap */
@import "../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin gwf($fonts...) {
  $url: "https://fonts.googleapis.com/css?family=";
  $nb: 0;
  
  @each $font-name in $fonts {
    $nb: $nb + 1;
    $nb-word: 0;
    
    @each $word in $font-name {
      $nb-word: $nb-word + 1;
      $url: $url + $word;
      
      @if $nb-word < length($font-name) {
        $url: $url + "+"; 
      } 
    }
    
    @if $nb < length($fonts) {
       $url: $url + "|"; 
    }
  }
  
  @import url(#{$url});
}

$font-p: Roboto;

@include gwf($font-p);

body {
    font-family: $font-p;
}

.container {
	max-width: 480px;
	padding: 0px;

	// valores personalizables
	background-color: $color-fondo;
	color: $color-texto-body;
}

.titulo {
	// valores personalizables
	color: $color-texto-titulo;
}

.header-tabla {
	background-color: $color-header-tabla;
	color: $color-texto-header-tabla;
}

.botones {
	background-color: $color-botones;
	color: $color-texto-botones;
}

.informacion {
	height: 90px;
}

.partido {
	height: 30px;
}

.estadio {
	height: 15px;
	h4 {
		font-size: 11px;
	}
}

.goles {
	background-color: $color-header-tabla;
	color: $color-texto-header-tabla;
}

.equipo {
	h4 {
		font-size: 11px;
	}
}
