/* configuracion general */

/* colores */
$color-fondo: #4681a0;
$color-texto-body: #FFFFFF;

$color-texto-titulo: #FFFFFF;

$color-header-tabla: #386780;
$color-texto-header-tabla: #ccd5d8;

$color-botones: #3db39e;
$color-texto-botones: #FFFFFF;

$color-tr-impar: #4e829e;

$color-texto-fases: #FFFFFF;