/* configuracion general */

/* colores */
$color-fondo: #FFFFFF;
$color-texto-body: #000000;

$color-texto-titulo: #000000;

$color-header-tabla: #e5192c;
$color-texto-header-tabla: #FFFFFF;

$color-botones: #e5192c;
$color-texto-botones: #FFFFFF;

$grid-columns: 18 !default;
$grid-gutter-width: 10px !default;
