/* custom vars */
@import "utilities/settings";

/* bootstrap */
@import "../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.container {
	max-width: 480px;
	padding: 5px;

	// valores personalizables
	background-color: $color-fondo;
	color: $color-texto-body;
}

.titulo {
	// valores personalizables
	color: $color-texto-titulo;
}

.header-tabla {
	background-color: $color-header-tabla;
	color: $color-texto-header-tabla;
}

.botones {
	background-color: $color-botones;
	color: $color-texto-botones;
}

.informacion {
	height: 90px;
}

.partido {
	height: 30px;
}

.estadio {
	height: 15px;
	h4 {
		font-size: 12px;
	}
}

.goles {
	background: #dddddd;
}

.equipo {
	h4 {
		font-size: 12px;
	}
}
